<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.net.mapper.UserMapper">
    <resultMap id="userResultMap" type="com.net.domain.User">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="birthday" column="birthday"/>
        <result property="createts" column="createts"/>
    </resultMap>
    <insert id="saveUser" parameterType="com.net.domain.User">
        INSERT INTO `user_dtl` (`name`,
        `birthday`,
        `createts`)
        VALUES (#{user.name},
        #{user.birthday},
        NOW())
    </insert>
    <update id="updateUser" parameterType="com.net.domain.User">
        UPDATE user_dtl
        SET name=#{user.name}, birthday=#{user.birthday}, createts=NOW()
        WHERE id=#{user.id}
    </update>
    <delete id="deleteById" parameterType="java.util.Map">
        DELETE
        FROM `user_dtl`
        WHERE `id` = #{id}
    </delete>
    <select id="getUsersWithPageSize" parameterType="java.util.Map" resultMap="userResultMap">
        select
        <include refid="column_list"/>
        from user_dtl
        <where>
            <if test="user.id != null">
                and id = #{user.id}
            </if>
            <if test="user.name != null">
                and name = #{user.name}
            </if>
        </where>
        limit #{pageSize}
    </select>
    <select id="findAll" resultMap="userResultMap">
        select
        <include refid="column_list"/>
        from user_dtl
    </select>
    <select id="findById" parameterType="long" resultMap="userResultMap">
        select
        <include refid="column_list"/>
        from user_dtl
        where id = #{id}
    </select>
    <sql id="column_list">
        id,name,birthday,createts
    </sql>
</mapper>